In [196]:
import pandas as pd
import numpy as np  
import matplotlib.pyplot as plt
import seaborn as sns

In [197]:
df = pd.read_excel('data_professionals_survey.xlsx')

In [198]:
df.shape

(630, 28)

In [199]:
df.columns

Index(['Unique ID', 'Email', 'Date Taken (America/New_York)',
       'Time Taken (America/New_York)', 'Browser', 'OS', 'City', 'Country',
       'Referrer', 'Time Spent',
       'Q1 - Which Title Best Fits your Current Role?',
       'Q2 - Did you switch careers into Data?',
       'Q3 - Current Yearly Salary (in USD)',
       'Q4 - What Industry do you work in?',
       'Q5 - Favorite Programming Language',
       'Q6 - How Happy are you in your Current Position with the following? (Salary)',
       'Q6 - How Happy are you in your Current Position with the following? (Work/Life Balance)',
       'Q6 - How Happy are you in your Current Position with the following? (Coworkers)',
       'Q6 - How Happy are you in your Current Position with the following? (Management)',
       'Q6 - How Happy are you in your Current Position with the following? (Upward Mobility)',
       'Q6 - How Happy are you in your Current Position with the following? (Learning New Things)',
       'Q7 - How difficult was it for you to break into Data?',
       'Q8 - If you were to look for a new job today, what would be the most important thing to you?',
       'Q9 - Male/Female?', 'Q10 - Current Age',
       'Q11 - Which Country do you live in?',
       'Q12 - Highest Level of Education', 'Q13 - Ethnicity'],
      dtype='object')

In [200]:
df.drop(['Email','Browser','OS','City','Country','Referrer'], axis=1, inplace=True)

In [201]:
df.columns

Index(['Unique ID', 'Date Taken (America/New_York)',
       'Time Taken (America/New_York)', 'Time Spent',
       'Q1 - Which Title Best Fits your Current Role?',
       'Q2 - Did you switch careers into Data?',
       'Q3 - Current Yearly Salary (in USD)',
       'Q4 - What Industry do you work in?',
       'Q5 - Favorite Programming Language',
       'Q6 - How Happy are you in your Current Position with the following? (Salary)',
       'Q6 - How Happy are you in your Current Position with the following? (Work/Life Balance)',
       'Q6 - How Happy are you in your Current Position with the following? (Coworkers)',
       'Q6 - How Happy are you in your Current Position with the following? (Management)',
       'Q6 - How Happy are you in your Current Position with the following? (Upward Mobility)',
       'Q6 - How Happy are you in your Current Position with the following? (Learning New Things)',
       'Q7 - How difficult was it for you to break into Data?',
       'Q8 - If you were to look for a new job today, what would be the most important thing to you?',
       'Q9 - Male/Female?', 'Q10 - Current Age',
       'Q11 - Which Country do you live in?',
       'Q12 - Highest Level of Education', 'Q13 - Ethnicity'],
      dtype='object')

In [202]:
df[['Date Taken (America/New_York)','Time Taken (America/New_York)']].head()

  Date Taken (America/New_York) Time Taken (America/New_York)
0                     6/10/2022                          8:38
1                     6/10/2022                          8:40
2                     6/10/2022                          8:42
3                     6/10/2022                          8:43
4                     6/10/2022                          8:44

In [203]:
df[['Date Taken (America/New_York)','Time Taken (America/New_York)']].dtypes

Date Taken (America/New_York)    object
Time Taken (America/New_York)    object
dtype: object

In [204]:
df['Time Taken (America/New_York)'] = pd.to_datetime(df['Time Taken (America/New_York)'], format='%H:%M').dt.time

In [205]:
df['Date Taken (America/New_York)'] = pd.to_datetime(df['Date Taken (America/New_York)'])

In [206]:
df['Response Time'] = df['Date Taken (America/New_York)'] + pd.to_timedelta(df['Time Taken (America/New_York)'].astype(str))

In [207]:
df['Response Time'].head()

0   2022-06-10 08:38:00
1   2022-06-10 08:40:00
2   2022-06-10 08:42:00
3   2022-06-10 08:43:00
4   2022-06-10 08:44:00
Name: Response Time, dtype: datetime64[ns]

In [208]:
print(df['Unique ID'].count())
print('Unique ID:', df['Unique ID'].nunique())

630
Unique ID: 630

In [209]:
df.drop(columns=['Date Taken (America/New_York)', 'Time Taken (America/New_York)','Unique ID','Q13 - Ethnicity'], inplace=True)

In [210]:
df.rename(columns={'Time Spent':'Elapsed Time'}, inplace=True)

In [211]:
df.columns

Index(['Elapsed Time', 'Q1 - Which Title Best Fits your Current Role?',
       'Q2 - Did you switch careers into Data?',
       'Q3 - Current Yearly Salary (in USD)',
       'Q4 - What Industry do you work in?',
       'Q5 - Favorite Programming Language',
       'Q6 - How Happy are you in your Current Position with the following? (Salary)',
       'Q6 - How Happy are you in your Current Position with the following? (Work/Life Balance)',
       'Q6 - How Happy are you in your Current Position with the following? (Coworkers)',
       'Q6 - How Happy are you in your Current Position with the following? (Management)',
       'Q6 - How Happy are you in your Current Position with the following? (Upward Mobility)',
       'Q6 - How Happy are you in your Current Position with the following? (Learning New Things)',
       'Q7 - How difficult was it for you to break into Data?',
       'Q8 - If you were to look for a new job today, what would be the most important thing to you?',
       'Q9 - Male/Female?', 'Q10 - Current Age',
       'Q11 - Which Country do you live in?',
       'Q12 - Highest Level of Education', 'Response Time'],
      dtype='object')

In [212]:
df.rename(columns= {
    'Q9 - Male/Female?': 'Gender',
    'Q10 - Current Age': 'Age',
    'Q11 - Which Country do you live in?': 'Country',
    'Q12 - Highest Level of Education': 'Education Level'}, inplace=True)

In [213]:
df.rename(columns= {
    'Q6 - How Happy are you in your Current Position with the following? (Salary)':  'Happiness (Salary)',
    'Q6 - How Happy are you in your Current Position with the following? (Work/Life Balance)': 'Happiness (Work/Life Balance)',
    'Q6 - How Happy are you in your Current Position with the following? (Coworkers)': 'Happiness (Coworkers)',
    'Q6 - How Happy are you in your Current Position with the following? (Management)': 'Happiness (Management)',
    'Q6 - How Happy are you in your Current Position with the following? (Upward Mobility)': 'Happiness (Upward Mobility)',
    'Q6 - How Happy are you in your Current Position with the following? (Learning New Things)': 'Happiness (Learning)',
    'Q7 - How difficult was it for you to break into Data?': 'Difficulty Breaking into Data',
    'Q8 - If you were to look for a new job today, what would be the most important thing to you?': 'Important Job Factors',
    'Q4 - What Industry do you work in?': 'Industry','Q2 - Did you switch careers into Data?': 'Did you switch careers into Data?',
    'Q3 - Current Yearly Salary (in USD)': 'Current Yearly Salary (in USD)',
    'Q5 - Favorite Programming Language': 'Favorite Programming Language',
    'Q1 - Which Title Best Fits your Current Role?': 'Title',
}, inplace=True)

In [214]:
df.columns

Index(['Elapsed Time', 'Title', 'Did you switch careers into Data?',
       'Current Yearly Salary (in USD)', 'Industry',
       'Favorite Programming Language', 'Happiness (Salary)',
       'Happiness (Work/Life Balance)', 'Happiness (Coworkers)',
       'Happiness (Management)', 'Happiness (Upward Mobility)',
       'Happiness (Learning)', 'Difficulty Breaking into Data',
       'Important Job Factors', 'Gender', 'Age', 'Country', 'Education Level',
       'Response Time'],
      dtype='object')

In [215]:
df = df[['Response Time',
       'Gender',
       'Age',
       'Country',
       'Education Level', 
       'Industry',
       'Title',
       'Did you switch careers into Data?',
       'Favorite Programming Language',
       'Current Yearly Salary (in USD)',
       'Happiness (Salary)',
       'Happiness (Work/Life Balance)',
       'Happiness (Coworkers)',
       'Happiness (Management)',
       'Happiness (Upward Mobility)',
       'Happiness (Learning)',
       'Difficulty Breaking into Data',
       'Important Job Factors',
       'Elapsed Time']]

In [216]:
df.head(1)

,Response Time,Gender,Age,Country,Education Level,Industry,Title,Did you switch careers into Data?,Favorite Programming Language,Current Yearly Salary (in USD),Happiness (Salary),Happiness (Work/Life Balance),Happiness (Coworkers),Happiness (Management),Happiness (Upward Mobility),Happiness (Learning),Difficulty Breaking into Data,Important Job Factors,Elapsed Time
0,2022-06-10 08:38:00,Male,26,United States,NaN,Healthcare,Data Analyst,Yes,Python,106k-125k,9.0,9.0,7.0,5.0,5.0,7.0,Very Difficult,Remote Work,0:00:44

In [217]:
df.dtypes

Response Time                        datetime64[ns]
Gender                                       object
Age                                           int64
Country                                      object
Education Level                              object
Industry                                     object
Title                                        object
Did you switch careers into Data?            object
Favorite Programming Language                object
Current Yearly Salary (in USD)               object
Happiness (Salary)                          float64
Happiness (Work/Life Balance)               float64
Happiness (Coworkers)                       float64
Happiness (Management)                      float64
Happiness (Upward Mobility)                 float64
Happiness (Learning)                        float64
Difficulty Breaking into Data                object
Important Job Factors                        object
Elapsed Time                                 object
dtype: object

In [218]:
df['Gender'].unique()

array(['Male', 'Female'], dtype=object)

In [219]:
df.Age = df.Age.astype('Int16')
df.Age.unique()

<IntegerArray>
[26, 36, 23, 35, 44, 33, 24, 28, 37, 32, 34, 30, 31, 29, 22, 43, 25, 42, 40,
 41, 38, 21, 27, 39, 51, 55, 45, 52, 50, 56, 20, 47, 54, 19, 92, 60, 53, 18,
 48, 58, 66]
Length: 41, dtype: Int16

In [220]:
df['Country'].nunique()

98

In [221]:
df['Country'].sort_values().unique()

array(['Canada', 'India', 'Other (Please Specify)',
       'Other (Please Specify): Somalia',
       'Other (Please Specify):Africa (Nigeria)',
       'Other (Please Specify):Aisa', 'Other (Please Specify):Algeria',
       'Other (Please Specify):Angola', 'Other (Please Specify):Antigua ',
       'Other (Please Specify):Argentina',
       'Other (Please Specify):Argentina ',
       'Other (Please Specify):Argentine', 'Other (Please Specify):Austr',
       'Other (Please Specify):Australia',
       'Other (Please Specify):Azerbaijan',
       'Other (Please Specify):Bangladesh ',
       'Other (Please Specify):Barbados',
       'Other (Please Specify):Belgium', 'Other (Please Specify):Brazik',
       'Other (Please Specify):Brazil', 'Other (Please Specify):Bulgaria',
       'Other (Please Specify):Chile', 'Other (Please Specify):Colombia',
       'Other (Please Specify):Costa Rica',
       'Other (Please Specify):Costa Rica ',
       'Other (Please Specify):Denmark', 'Other (Please Specify):Egypt',
       'Other (Please Specify):Egypt ', 'Other (Please Specify):Fin',
       'Other (Please Specify):France', 'Other (Please Specify):Germany',
       'Other (Please Specify):Ghana', 'Other (Please Specify):Greece',
       'Other (Please Specify):Hong Kong',
       'Other (Please Specify):Indonesia', 'Other (Please Specify):Iran',
       'Other (Please Specify):Iraq', 'Other (Please Specify):Ire',
       'Other (Please Specify):Irel', 'Other (Please Specify):Ireland',
       'Other (Please Specify):Ireland ', 'Other (Please Specify):Israel',
       'Other (Please Specify):Japan', 'Other (Please Specify):Kenua',
       'Other (Please Specify):Kenya', 'Other (Please Specify):Kenya ',
       'Other (Please Specify):Kosovo', 'Other (Please Specify):Leba',
       'Other (Please Specify):Liberia',
       'Other (Please Specify):Macedonia',
       'Other (Please Specify):Malaysia', 'Other (Please Specify):Mexico',
       'Other (Please Specify):Morocco',
       'Other (Please Specify):Morocco ',
       'Other (Please Specify):Mozambique',
       'Other (Please Specify):Netherlands',
       'Other (Please Specify):Niger', 'Other (Please Specify):Nigeria',
       'Other (Please Specify):Nigeria ', 'Other (Please Specify):Oman',
       'Other (Please Specify):Pakistan', 'Other (Please Specify):Panama',
       'Other (Please Specify):Peru', 'Other (Please Specify):Perú ',
       'Other (Please Specify):Philippines',
       'Other (Please Specify):Poland', 'Other (Please Specify):Portugal',
       'Other (Please Specify):Portugsl',
       'Other (Please Specify):Republic democratic of Congo ',
       'Other (Please Specify):Romania', 'Other (Please Specify):SG',
       'Other (Please Specify):Saudi Arabia',
       'Other (Please Specify):Saudi Arabia ',
       'Other (Please Specify):Serbia',
       'Other (Please Specify):Singapore',
       'Other (Please Specify):South Africa',
       'Other (Please Specify):South Africa ',
       'Other (Please Specify):South Korea',
       'Other (Please Specify):Spain', 'Other (Please Specify):Sri lanka',
       'Other (Please Specify):Sudan', 'Other (Please Specify):Sweden',
       'Other (Please Specify):TUNISIA',
       'Other (Please Specify):Thailand', 'Other (Please Specify):Turkey',
       'Other (Please Specify):UAE',
       'Other (Please Specify):United Arab Emirates ',
       'Other (Please Specify):Uruguay',
       'Other (Please Specify):Venezuela',
       'Other (Please Specify):Vietnam', 'Other (Please Specify):Zambia',
       'Other (Please Specify):ghana', 'Other (Please Specify):indonesia',
       'Other (Please Specify):nigeria', 'Other (Please Specify):turkey',
       'Other (Please Specify):uzb', 'United Kingdom', 'United States'],
      dtype=object)

In [222]:
df['Country'] = df['Country'].str.lower()
df['Country'] = df['Country'].str.strip()

In [223]:
df['Country'] = df['Country'].astype(str).apply(lambda x: x.replace('other (please specify):','').strip().capitalize())

In [224]:
df['Country'].sort_values().unique()

array(['Africa (nigeria)', 'Aisa', 'Algeria', 'Angola', 'Antigua',
       'Argentina', 'Argentine', 'Austr', 'Australia', 'Azerbaijan',
       'Bangladesh', 'Barbados', 'Belgium', 'Brazik', 'Brazil',
       'Bulgaria', 'Canada', 'Chile', 'Colombia', 'Costa rica', 'Denmark',
       'Egypt', 'Fin', 'France', 'Germany', 'Ghana', 'Greece',
       'Hong kong', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ire', 'Irel',
       'Ireland', 'Israel', 'Japan', 'Kenua', 'Kenya', 'Kosovo', 'Leba',
       'Liberia', 'Macedonia', 'Malaysia', 'Mexico', 'Morocco',
       'Mozambique', 'Netherlands', 'Niger', 'Nigeria', 'Oman',
       'Other (please specify)', 'Pakistan', 'Panama', 'Peru', 'Perú',
       'Philippines', 'Poland', 'Portugal', 'Portugsl',
       'Republic democratic of congo', 'Romania', 'Saudi arabia',
       'Serbia', 'Sg', 'Singapore', 'Somalia', 'South africa',
       'South korea', 'Spain', 'Sri lanka', 'Sudan', 'Sweden', 'Thailand',
       'Tunisia', 'Turkey', 'Uae', 'United arab emirates',
       'United kingdom', 'United states', 'Uruguay', 'Uzb', 'Venezuela',
       'Vietnam', 'Zambia'], dtype=object)

In [225]:
country_corrections = {
    'Aisa': 'Asia',
    'Africa (nigeria)': 'Nigeria',
    'Brazik': 'Brazil',
    'Austr': 'Austria',
    'Kenua': 'kenya',
    'Ire': 'Ireland',
    'Irel': 'Ireland',
    'Portugsl': 'Portugal',
    'Sg': 'Singapore',
    'Perú': 'Peru',
    'Argentine': 'Argentina',
    'Fin': 'Finland',
    'Uzb':'Uzbekistan',
    'Republic democratic of congo': 'Democratic republic of the congo',
    'Uae': 'United arab emirates',
    'Other (please specify)': 'Other' # Remove if needed
}

In [226]:
df['Country'] = df['Country'].replace(country_corrections)

In [227]:
df['Country'].sort_values().unique()

array(['Algeria', 'Angola', 'Antigua', 'Argentina', 'Asia', 'Australia',
       'Austria', 'Azerbaijan', 'Bangladesh', 'Barbados', 'Belgium',
       'Brazil', 'Bulgaria', 'Canada', 'Chile', 'Colombia', 'Costa rica',
       'Democratic republic of the congo', 'Denmark', 'Egypt', 'Finland',
       'France', 'Germany', 'Ghana', 'Greece', 'Hong kong', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Japan', 'Kenya',
       'Kosovo', 'Leba', 'Liberia', 'Macedonia', 'Malaysia', 'Mexico',
       'Morocco', 'Mozambique', 'Netherlands', 'Niger', 'Nigeria', 'Oman',
       'Other', 'Pakistan', 'Panama', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Romania', 'Saudi arabia', 'Serbia', 'Singapore',
       'Somalia', 'South africa', 'South korea', 'Spain', 'Sri lanka',
       'Sudan', 'Sweden', 'Thailand', 'Tunisia', 'Turkey',
       'United arab emirates', 'United kingdom', 'United states',
       'Uruguay', 'Uzbekistan', 'Venezuela', 'Vietnam', 'Zambia', 'kenya'],
      dtype=object)

In [228]:
df['Country'].nunique()

76